@import './../../../../styles.scss';

@mixin borderStyling($b, $r) {
  border: $b solid white;
  border-radius: $r;
}

@mixin dFlex($jc: center, $ai: center, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

nav {
  position: absolute;
  top: 0;
@include dFlex($jc: space-between);
  width: calc(100% - 64px);
  padding: 32px;
  > img {
    width: 64px;
    height: 64px;
  }
  > div {
    @include dFlex($jc: flex-end, $g: 16px);
    width: 500px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.phone-btn {
  @include dFlex($jc: space-between);
  padding: 8px;
  background-color: $dark_red;
  @include borderStyling(2px, 12px);
  &:hover {
    background-color: red;
  }
  > img {
    width: 32px;
    height: 32px;
  }
}

.links {
  @include dFlex($g: 12px);
  > a {
    &:hover {
      color: $dark_red;
    }
  }
}
