nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 64px);
  padding: 32px;
  > img {
    width: 64px;
    height: 64px;
  }
  > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    width: 500px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.phone-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: rgb(196, 0, 0);
  border: 1px solid white;
  border-radius: 16px;
  &:hover {
    background-color: red;
  }
  > img {
    width: 32px;
    height: 32px;
  }
}

.links {
  display: flex;
  gap: 12px;
  > a {
    &:hover {
      color: red;
    }
  }
}
