<section>
    <div class="how-to-order-container">
      <h2 id="how-to-order">HOW TO ORDER</h2>
    </div>
    <div class="order-container">
      <div class="steps-container">
        <img src="assets/img/2_section_how_to_order/PNG/noodle.png" />
        <span id="noodle">Pick your<br>noodle</span>
      </div>
      <div class="steps-container">
        <img src="assets/img/2_section_how_to_order/PNG/broth.png" />
        <span id="broth">Pick your<br>broth</span>
      </div>
      <div class="steps-container">
        <img src="assets/img/2_section_how_to_order/PNG/egg.png" />
        <span id="toppings">Add your<br>toppings</span>
      </div>
    </div>
</section>

